.websemble_signup {
    margin:0 20px;
}

.websemble_signup .form_box {
    margin: 8px 0 16px 0;
}

.websemble_signup input {
    width: 99%;
    font-size: 1.5em;
}

.websemble_signup input.empty {
    color: #AAA;
}

.websemble_signup button {
    color:#FF6600;
    font-size:22px;
    font-weight:bold;
    height:40px;
    width:110px;
}

.websemble_signup input[type="checkbox"] {
    float: left;
    width: 20px;
    margin-left: 0;
}


.websemble_signup table {
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}

    .websemble_signup table td {
        margin: 0;
        padding: 0;
        vertical-align: center;
    }

    .websemble_signup table .facebook {
        width: 170px;
        background: url(/static/app_websemble_signup/splitter.png) no-repeat 10px center;
        text-align: right;
    }