.layout_user_form {
    margin: 20px auto 0 auto;
    width: 300px;
    background: #FFF;
    border: 1px solid #999;
    padding: 20px 50px;
}


    .layout_user_form input.text {
        display: block;
        width: 100%;
        font-size: 18px;
    }


    .layout_user_form label {
        display: block;
        font-weight: bold;
        margin: 15px 0 1px 0;
    }

    .layout_user_form button.submit {
        margin: 20px auto 0 auto;
        display: block;
        width: auto;
        min-width: 100px;
        font-size: 18px;
    }


    .layout_user_form .info {
        margin: 15px 0 1px 0;
    }